@page
@model IndexModel
@{
    ViewData["Title"] = "SimWeb";
}

<h2 id="demo">Aplikacja demonstracyjna Sim Web</h2>
<p class="desc">Wizualizacja symulacji poruszania się stworów po mapie.</p>

<p class="desc">
    Sekwencja ruchów:
    <b>llllulludddlrdlrulrdruld</b>
</p>
